<td><%= link_to(user.name, edit_user_path(user)) %></td>
<td><%= user.email %></td>
<td>
  <% if @users_to_groups[user.api_user_id].empty? %>
    <%= empty_cell_contents %>
  <% else %>
    <%=
      @users_to_groups[user.api_user_id].map { |g|
        content_tag 'span', g.name
      }.join(', ').html_safe
    %>
  <% end %>
</td>
<% if ldap_enabled? %>
  <td><span><%= account_type user %></span></td>
  <td><a><%= user.user_name || "--" %></td>
<% end %>
<td>
  <% if @users_to_groups[user.api_user_id].any? %>
    <%= link_to disable_user_path(user) do %>
      <button class="btn btn-default">Disable</button>
    <% end %>
  <% end %>
</td>
<td>
  <%= link_to user_path(user), :method => :delete, data: { confirm: "Are You Sure You Want To Delete This User?" } do %>
    <button class="btn btn-default">Delete</button>
  <% end %>
</td>
