<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Auth" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Auth" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script>
      (function() {
        var token = '<%= session[:api_token] %>';
        if (token !== '') {
          var a = token.split(' ');
          if (a.length === 2) {
            document.cookie = ('XNClient=' + a[0] + '; path=/');
            document.cookie = ('XNToken=' + a[1] + '; path=/');
          }
        }
        return true;
      })();
    </script>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">
          <div id="login" class="col-xs-4 col-xs-offset-4">
            <img src="/assets/logo.png">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
